.back {
    border: 1px solid black;
    display: inline-flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}
.userInfo {

}
.userCard {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.imgContainer {
   flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 1;

}
.imgContainer img {
    max-height: 300px;
    object-fit: cover;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}
.infoRow {
    display: flex;
    gap: 10px;
}
.title {
    font-weight: bold;
}
.desc {
    color: #515151;
}
.desc a {
    color: #515151;
}