.userItem {
    display: flex;
    align-items: stretch;
    gap: 10px;
    border-top: 1px solid rgba(0,0,0,0.15);
    padding: 10px 0;

}
.userItem:nth-of-type(1) {
    border-top: none;
    padding-top: 0;
}
.link {
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    gap: 10px;

}
.profileLink {
    color: #000;
    display: flex;
    align-items: center;
}
.img {
    width: 100px;
}